@model cms.Models.Conference

@{
    ViewBag.Title = "DetailsForAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Conference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "IndexForUser") |
    @Html.ActionLink("Submit Paper", "CreatePaper", new { conference_id = Model.Id })
</p>
